body {
    background-image: url('https://images8.alphacoders.com/133/1331724.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: slideBackground 20s linear infinite;
}

@keyframes slideBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
